@mixin box-shadow() {
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.42);
}

.content-search {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  padding-top: 7em;
  padding-bottom: 5em;

  .react-select {
    &__control {
      background-color: var(--bg-select-color);
      color: white;
      border-style: none;
      @include box-shadow();
    }

    &__menu {
      background-color: var(--bg-select-color);
      color: var(--text-select-color);
    }

    &__option {
      &:hover {
        background-color: rgb(100, 100, 100);
        cursor: pointer;
      }
    }

    &__input {
      color: var(--text-select-color);
    }

    &__placeholder {
      color: var(--text-select-color);
      filter: contrast(10%);
    }
  }

  .spinner-border {
    height: 4rem;
    width: 4rem;
  }

  .btn {
    background-color: var(--btn-color);
    color: white;
  }

  .accordion-item {
    color: var(--text-color);

    .accordion-header {
      .accordion-button {
        background-color: var(--bg-select-color);
        color: var(--text-color);
      }
    }
  }

  .form-search {
    background-color: var(--bg-select-color);
    border-style: none;
    @include box-shadow();
  }
}